body{
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
    min-height: 100vh;
    display: grid;
    place-content: center;
}


.contenedor-principal{
    background: linear-gradient(hsl(213, 27%, 16%), hsl(218 ,24%, 13%));
    border-radius: 30px;
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    width: 350px;
    height: 320px;
    padding: 35px;
}

/* Pagina 1  */
.titulo-principal {
    margin-top: 15px;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    
}

.rating{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: hsl(213deg 19% 18%);
    border: none;
    color: hsl(217, 12%, 63%);
    font-family: 'Overpass', sans-serif;
    margin-top: 10px;
    font-weight: 700;
}

.rating:hover{
    cursor: pointer;
    background-color: hsl(216, 12%, 8%); 
}

.rating:focus{
    background-color:hsl(25, 97%, 53%);
}

.submit{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    width: 350px;
    height: 45px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 30px;
}

.img{
    background-color: hsl(213deg 19% 18%);
    border-radius: 50%;
    padding: 15px;
}


/* Pagina 2 */
.contenedor-thank-you{
    display: none;
    text-align: center;
    justify-content: center;
}

.rating-selected-text{
    color: hsl(25, 97%, 53%);
    background-color: hsl(213deg 19% 18%);
    border-radius: 25px;
    padding: 10px 0px 10px 0px;
    width: 210px;
    font-size: 14.2px;
    margin-left: 70px;
    margin-bottom: 40px;
}

.Thank-title{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}